html{
	font-size:10px;
}
body{
	background-color:powderblue;
	font-family:"century gothic", "trebuchet ms", sans-serif;
}
h1{
	font-size:3rem;
	text-transform:capitalize;
	text-align: center;
	text-shadow: 4px 3px 6px black;
	/*Puedes aplicar varias sombras a la vez*/
}
p{
	font-size:1.4rem;
	padding:10px;
	border-radius: 0px 20px 20px 0px;
	background-color:lightgreen;
	background-image: url(https://jpnf.github.io/prueba/icono.svg);
	background-repeat:no-repeat;
	background-position: 99% center;
	background-size: 30px 30px;
}
ol,dl{
	font-size:1.2rem;
}
ul{
	font-size:1.2rem;
	line-height:2rem;
	padding-left: 2.5rem;
	list-style-type:none;
}
ul li{
	padding-left:2rem;
	background-image: url(https://jpnf.github.io/prueba/icono.svg);
	background-position: 0 0;
	background-size: 1.6rem 1.6rem;
	background-repeat: no-repeat;
}
dt{
	padding-left:2.5rem;
}
dd{
	font-size:1.12rem;
	font-style:italic;
}
table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: 3px solid red;
}
thead th:nth-child(1) {
	width: 30%;
}
thead th:nth-child(2) {
	width: 20%;
}
thead th:nth-child(3) {
	width: 15%;
}
thead th:nth-child(4) {
	width: 35%;
}
thead, tfoot{
	background: url(https://jpnf.github.io/prueba/icono.svg);
	text-shadow: 1px 1px 1px black;
}
thead th, tfoot th, tfoot td {
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2));
	border: 3px solid red;
}
tbody th, tbody td, tfoot th, tfoot td {
	border-right: 3px solid red;
}
tbody tr:nth-child(odd) {
	background-color: powderblue;
}

tbody tr:nth-child(even) {
	background-color: gray;
}
th{
	letter-spacing: 2px;
	padding: 20px;
}
td{
	letter-spacing: 1px;
	padding: 20px;
}
tbody{
	text-align: center;
}
tfoot th{
	text-align:right;
}
tfoot td{
	text-align: center;
}
caption {
	font-size: 1.6rem;
	padding: 20px;
	caption-side: bottom;
	color: gray;
	text-align: center;
	letter-spacing: 1px;
}
